#server:
#  port: 8083

spring:
  batch:
    initialize-schema: ALWAYS
    job:
      enabled: false
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/sample
    username: userid
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    #open-in-view: false
    generate-ddl: true
  output:
    ansi:
      enabled: ALWAYS